Repository ShawnC-LaunchCode/ezBuildr: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --fix, bash -c 'npm run type-check'

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --max-warnings 0 --fix",
    "bash -c 'npm run type-check'"
  ],
  "*.{js,jsx}": [
    "eslint --max-warnings 0 --fix"
  ]
}

fix(ai): move the default model off the withdrawn gemini-2.0-flash (AI-P1)
  .env.example
  server/controllers/AiController.ts
  server/services/AIService.ts
  server/services/ai/ModelRegistry.ts
  server/services/ai/providerConfig.ts
  tests/unit/services/ai/ModelRegistry.test.ts
  tests/unit/services/ai/providerConfig.test.ts
Due: eslint --max-warnings 0 --fix, bash -c 'npm run type-check'

fix(builder): make the List Tools source picker query the workflow (LIST-B1)
  client/src/components/blocks/ListToolsBlockEditor.tsx
  client/src/components/blocks/list-tools/ListToolsSourceParams.tsx
  client/src/components/blocks/list-tools/listSourceVariables.ts
  tests/unit/client/ListToolsBlockEditor.sourcePicker.test.tsx
  tickets/BACKLOG.md
Due: eslint --max-warnings 0 --fix, bash -c 'npm run type-check'

fix(builder): make Block Type read-only so it cannot render blank (LIST-B2)
  client/src/components/builder/BlockEditorDialog.tsx
  client/src/components/builder/forms/RegularBlockForm.tsx
  client/src/components/builder/forms/blockTypeLabel.ts
  client/src/lib/mode.ts
  tests/unit/client/RegularBlockForm.blockType.test.tsx
  tickets/BACKLOG.md
Due: eslint --max-warnings 0 --fix, bash -c 'npm run type-check'

fix(builder): seed a List Tools block with real config keys (LIST-B16)
  client/src/components/builder/pages/LogicAddMenu.tsx
  client/src/components/builder/pages/newBlockDefaults.ts
  tests/unit/client/newBlockDefaults.test.ts
  tickets/BACKLOG.md
Due: eslint --max-warnings 0 --fix, bash -c 'npm run type-check'

feat(health): report AI provider readiness so a withdrawn model cannot hide (AI-P1)
  server/routes/health.ts
  server/utils/aiRuntime.ts
  tests/unit/routes/health.routes.test.ts
  tests/unit/utils/aiRuntime.test.ts
Due: eslint --max-warnings 0 --fix, bash -c 'npm run type-check'

docs(backlog): file RUN-P1; correct LIST-B15 after investigation
  tickets/BACKLOG.md
Due: none

fix(deps): clear the audit gate by updating within existing ranges (DEP-B1)
  package-lock.json
Due: none

docs(tickets): CB-10d1 passed review; downgrade RUN-P1 by measurement
  tickets/BACKLOG.md
  tickets/CODE_BLOCKS_TICKETS.md
Due: none

feat(schema)!: drop transform_blocks and transform_block_runs (CB-10d2)
  docs/claude/SCHEMA.md
  migrations/0049_sad_stellaris.sql
  migrations/meta/0049_snapshot.json
  migrations/meta/_journal.json
  server/services/portability/entityGraph.ts
  shared/schema/relations.ts
  shared/schema/run.ts
  shared/schema/workflow.ts
  shared/types/portabilityDisclosure.ts
  tests/helpers/schemaManager.ts
  tests/integration/pages-contract.test.ts
Due: eslint --max-warnings 0 --fix, bash -c 'npm run type-check'

fix(rls): scope esign envelope reads and the document-delivery worker (RLS-B1)
  server/repositories/RunDocumentDeliveryRepository.ts
  server/services/document/delivery/DocumentDeliveryService.ts
  server/services/esign/EnvelopeBuilder.ts
  tests/unit/services/document/delivery/DocumentDeliveryService.test.ts
  tickets/BACKLOG.md
Due: eslint --max-warnings 0 --fix, bash -c 'npm run type-check'

fix(ci): route the AI readiness probe through safeFetch (AI-P1 follow-up)
  server/utils/aiRuntime.ts
  tests/unit/utils/aiRuntime.test.ts
Due: eslint --max-warnings 0 --fix, bash -c 'npm run type-check'

docs: retire the Transform Blocks docs; point readers at Code Blocks
  CLAUDE.md
  README.md
  docs/INDEX.md
  docs/api/TRANSFORM_BLOCKS.md
  docs/claude/API_ENDPOINTS.md
  docs/claude/FEATURES.md
  docs/claude/SCHEMA.md
  docs/claude/SERVICES.md
  docs/examples/FEE_WAIVER_DEMO_README.md
  tickets/BACKLOG.md
  tickets/backlog/SECTIONS_AND_PAGES.md
Due: none

docs(tickets): close the Phase 4 Gate for Code Blocks (CB-10a..d2, CB-11)
  tickets/CODE_BLOCKS_TICKETS.md
Due: none

docs(tickets): retire the Code Blocks initiative into the backlog (CB)
  tickets/BACKLOG.md
  tickets/CODE_BLOCKS_TICKETS.md
  tickets/backlog/CODE_BLOCKS.md
Due: none

ci(rls): make a red RLS gate impossible to ignore (RLS-11 AC 4)
  .github/workflows/rls-gate.yml
  CLAUDE.md
  scripts/ci/post-slack-gate-failure.js
  tickets/BACKLOG.md
  tickets/ENVIRONMENTS_AND_RLS_TICKETS.md
  tickets/backlog/ENVIRONMENTS_AND_RLS.md
Due: eslint --max-warnings 0 --fix

fix(scripts): canonicalizeStepTypes reads only the columns it converts
  scripts/canonicalizeStepTypes.ts
Due: eslint --max-warnings 0 --fix, bash -c 'npm run type-check'

docs: record the production promotion; correct Wait for CI; file STB-B14
  CLAUDE.md
  tickets/BACKLOG.md
  tickets/backlog/STEP_TOOLBOX.md
Due: none

docs(tickets): open post-promotion cleanup board (CLN-1..6)
  tickets/CLEANUP_TICKETS.md
Due: none

fix(deps): upgrade OpenTelemetry to a patched line; drop both allowlisted advisories (CLN-5)
  .audit-allowlist.json
  package-lock.json
  package.json
  tickets/CLEANUP_TICKETS.md
Due: none

fix: small cleanups bundle, RLS-B5 / CB-B2 / RUN-B1 / CB-B8 / portability flake (CLN-1)
  client/src/components/builder/questions/js-question/CodeBlockPanels.tsx
  server/routes/esign.routes.ts
  shared/validation/stepConfigSchemas.ts
  tests/integration/portability.export.test.ts
  tests/unit/client/useRunNavigation.test.tsx
  tests/unit/services/CodeBlockService.readInspector.test.ts
  tests/unit/shared/validation/stepConfigSchemas.test.ts
  tickets/BACKLOG.md
  tickets/CLEANUP_TICKETS.md
Due: eslint --max-warnings 0 --fix, bash -c 'npm run type-check'

feat(list-tools): a list question can be a List Tools source (CLN-3, LIST-B15)
  client/src/components/blocks/list-tools/listSourceVariables.ts
  client/src/lib/choice-utils.ts
  server/services/blockRunners/ListToolsBlockRunner.ts
  shared/listPipeline.ts
  tests/integration/listTools.listSource.test.ts
  tests/unit/client/ListToolsBlockEditor.sourcePicker.test.tsx
  tests/unit/listPipeline.semantics.test.ts
  tickets/BACKLOG.md
  tickets/CLEANUP_TICKETS.md
Due: eslint --max-warnings 0 --fix, bash -c 'npm run type-check'

fix(scripts): canonicalizer converts legacy sections[] version graphs (CLN-4, STB-B14)
  scripts/canonicalizeStepTypes.ts
  tests/unit/scripts/canonicalizeStepTypes.test.ts
  tickets/BACKLOG.md
  tickets/CLEANUP_TICKETS.md
Due: eslint --max-warnings 0 --fix, bash -c 'npm run type-check'

fix(runs): run onPageEnter blocks and beforePage hooks on page arrival (CLN-2, RUN-P1)
  server/services/RunService.ts
  server/services/runs/RunExecutionCoordinator.ts
  server/services/workflow-runs/RunLifecycleService.ts
  tests/integration/runs.pageEnter.test.ts
  tests/unit/services/RunService.versioning.test.ts
  tickets/BACKLOG.md
  tickets/CLEANUP_TICKETS.md
Due: eslint --max-warnings 0 --fix, bash -c 'npm run type-check'

chore(deps): retarget Dependabot to dev; apply three minor bumps (CLN-6)
  .github/dependabot.yml
  package-lock.json
  package.json
  tickets/BACKLOG.md
  tickets/CLEANUP_TICKETS.md
Due: none

fix(blocks): tenant-scope block CRUD so it works under RLS (CLN-7)
  server/services/BlockService.ts
  server/services/ListToolsBlockService.ts
  server/services/QueryBlockService.ts
  server/services/ReadTableBlockService.ts
  tests/integration/blocks.rls.test.ts
  tickets/BACKLOG.md
  tickets/CLEANUP_TICKETS.md
Due: eslint --max-warnings 0 --fix, bash -c 'npm run type-check'

docs(rls): rehearse the production role swap on a clone; record the promotion (RLS-4)
  docs/deployment/RLS4_CUTOVER.md
  tickets/ENVIRONMENTS_AND_RLS_TICKETS.md
Due: none

fix(tests): serialize shared-role setup; run the RLS gate in parallel (RLS-11 cause 5)
  .claude/skills/run-tests/SKILL.md
  docs/architecture/RLS_HANDOFF.md
  docs/deployment/RLS4_CUTOVER.md
  scripts/rls-gate.ts
  tests/setup.ts
  tickets/ENVIRONMENTS_AND_RLS_TICKETS.md
  tickets/backlog/ENVIRONMENTS_AND_RLS.md
Due: eslint --max-warnings 0 --fix, bash -c 'npm run type-check'

docs(backlog): RLS-B1 — the single-fork pin is gone; this entry's cause is not
  tickets/BACKLOG.md
Due: none

docs(tickets): close the cleanup board's Gate (CLN-1..7)
  tickets/CLEANUP_TICKETS.md
Due: none

docs(tickets): retire the cleanup board into the backlog (CLN)
  tickets/BACKLOG.md
  tickets/CLEANUP_TICKETS.md
  tickets/backlog/CLEANUP.md
Due: none

docs(tickets): close STB-B14 — canonicalizer data run done on all envs
  tickets/BACKLOG.md
  tickets/ENVIRONMENTS_AND_RLS_TICKETS.md
  tickets/backlog/CLEANUP.md
  tickets/backlog/STEP_TOOLBOX.md
Due: none

docs(tickets): re-audit and dispatch RLS-10 against the real policy shapes
  tickets/ENVIRONMENTS_AND_RLS_TICKETS.md
Due: none

test(rls): data-driven proof that every policy isolates (RLS-10)
  tests/integration/rls10-policyIsolation.test.ts
  tickets/ENVIRONMENTS_AND_RLS_TICKETS.md
Due: eslint --max-warnings 0 --fix, bash -c 'npm run type-check'

docs(tickets): record RLS-4 pre-swap drift check — prod matches migrations
  tickets/ENVIRONMENTS_AND_RLS_TICKETS.md
Due: none

docs(rls): production is enforcing RLS — record the cutover (RLS-4)
  CLAUDE.md
  docs/deployment/RLS4_CUTOVER.md
  tickets/ENVIRONMENTS_AND_RLS_TICKETS.md
Due: none

docs(tickets): correct two stale "production not enforcing" lines (RLS-4)
  tickets/ENVIRONMENTS_AND_RLS_TICKETS.md
Due: none

fix(rls): close the unscoped call sites now live under enforcement (RLS-8)
  .rls-surface-allowlist.json
  server/jobs/metricsRollup.ts
  server/repositories/DatavaultDatabasesRepository.ts
  server/repositories/SystemStatsRepository.ts
  server/repositories/UserRepository.ts
  server/repositories/WorkflowRepository.ts
  server/routes/admin.routes.ts
  server/routes/tenant.routes.ts
  server/routes/workflowAnalytics.routes.ts
  server/services/AdminAccessService.ts
  server/services/AuthService.ts
  server/services/BlockRunner.ts
  server/services/SnapshotService.ts
  server/services/alerts.ts
  server/services/blockRunners/ReadTableBlockRunner.ts
  server/services/sli.ts
  tests/integration/rls6-adminAccess.test.ts
  tests/integration/rls8-scopedPaths.test.ts
  tests/unit/services/AuthService.test.ts
  tests/unit/services/alerts.batchEvaluate.test.ts
  tickets/ENVIRONMENTS_AND_RLS_TICKETS.md
Due: eslint --max-warnings 0 --fix, bash -c 'npm run type-check'

fix(captcha): add a nonce so two challenges never share a token
  server/services/CaptchaService.ts
  tests/unit/captcha.service.test.ts
Due: eslint --max-warnings 0 --fix, bash -c 'npm run type-check'

fix(auth): one session refresh at a time; survive dropped DB connections; say when a draft link is not live
  client/src/components/builder/tabs/SettingsTab.tsx
  client/src/components/builder/tabs/settings/PublishingSettingsCard.tsx
  client/src/hooks/useAuth.ts
  client/src/lib/sessionRefresh.ts
  client/src/lib/vault-api.ts
  server/db.ts
  server/db/adminDb.ts
  server/db/poolErrors.ts
  tests/unit/client/PublishingSettingsCard.test.tsx
  tests/unit/client/sessionRefresh.test.ts
  tests/unit/db/poolErrors.test.ts
Due: eslint --max-warnings 0 --fix, bash -c 'npm run type-check'
